html
	head
		title= "Discover" 
		
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

		link(rel="stylesheet", href="../css/base.css")
		link(rel="stylesheet", href="../css/postFeed.css")
		link(rel="stylesheet", href="../css/postView.css")
		script(src='bower_components/angular/angular.min.js')
		script(src="../js/angular/app.js")
	
		script(src="../js/services/discoverService.js")
		script(src="../js/controllers/discoverController.js")
		
		script.
			if ("#{user}")
				var userLoggedIn = { "success": true, "user": "#{user}" };
			else
				var userLoggedIn = { "success": false };
	body

	div(id="test", ng-app="discoverApp", ng-controller="discoverController", ng-init="uLog = userLoggedIn")
		
		script.
			uLog = userLoggedIn;
			console.log(uLog);

		nav(class="navbar navbar-default")
			div(class="container-fluid")
				ul(class="nav navbar-nav")
					li 
						a(href="/home") home
					li(ng-if="uLog['success']") 
						a(href="/profile") profile
					li(class="active") 
						a(href="/discover") discover
					li(ng-if="uLog['success']")
						a(href="/upload") upload
					li(ng-if="!uLog['success']") 
						a(href="/login") login	
					li(ng-if="!uLog['success']")
						a(href="/register") register

	
		div(id="postBackDiv", ng-repeat="post in posts", ng-if="!error")
				
			div(class="row row-margin-bottom")
			div(class="col-md-5 no-padding lib-item" data-category="view")
				div(class="lib-panel")
					div(class="row")
						div(class="col-md-6")
							a(href="/post/{{post._id}}")
								img(class="lib-img-show", ng-src="{{post.url}}")
						div(class="col-md-6")
							div(class="lib-row lib-header")
								//Post title.
								div(class="lib-header-separator")
							div(class="lib-row lib-desc")
								h2(id="title") {{post.title}}
								h3(id="user") by {{post.user}}
								h3(id="rating") Rating: {{post.rating}}				
							
								div(id="captionText")
									p(id="caption" class="line-clamp") {{post.meta.caption}}
									br
				//Space for comments and stuff.
