html
	head
		title="Login"
		
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

		link(rel="stylesheet", href="../css/base.css")
		script(src='bower_components/angular/angular.min.js')
	
		script(src="../js/angular/app.js")
		script(src="../js/services/loginService.js")
		script(src="../js/controllers/loginFormController.js")
	body

	script.
		if ("#{user}")
			var userLoggedIn = { "success": true, "user": "#{user}" };
		else
			var userLoggedIn = { "success": false };
	
	div(id="loginForm", ng-app="loginApp", ng-controller="formController")

		script.
			uLog = userLoggedIn;

		nav(class="navbar navbar-default")
			div(class="container-fluid")
				ul(class="nav navbar-nav")
					li 
						a(href="/home") home
					li(ng-if="userLoggedIn['success']") 
						a(href="/profile") profile
					li 
						a(href="/discover") discover
					li(ng-if="userLoggedIn['success']")
						a(href="/upload") upload
					li(class="active") 
						a(href="/login") login	
					li(ng-if="!userLoggedIn['success']")
						a(href="/register") register

		div(id="test")
			form(id="login_form")
				div(class="control-group")
					label(class="control-label") Username
					div(class="controls")
						input(type="text", class="input-xlarge", name="username")
				
				div(class="control-label")
					label(class="control-label") Password
					div(class="controls")
						input(type="password", class="input-xlarge", name="password")
				br
				button(type="submit", class="btn btn-success", name="login", ng-click="submitForm()", ng-disabled="isSubmitting") Submit
		
				div(class="alert alert-success", ng-if="successfulLogin")
					strong Success!
					p Redirecting to profile page. 
		
				div(class="alert alert-danger", ng-if="unsuccessfulLogin")
					strong Failed
					p {{logMessage}}	
