html
	head
		title= title
		
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

		link(rel="stylesheet", href="../css/base.css")
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js")
	
		script(src="../js/angular/app.js")
		script(src="../js/services/loginService.js")
		script(src="../js/controllers/loginFormController.js")
	body

	nav(class="navbar navbar-default")
		div(class="container-fluid")
			ul(class="nav navbar-nav")
				li(class="active") 
					a(href="/home") home
				li 
					a(href="/profile") profile
				li 
					a(href="/discover") discover
				li
					a(href="/upload") upload	

	div(id="loginForm", ng-app="loginApp", ng-controller="formController")
		div(id="test")
			form(id="login_form")
				div(class="form-group form-group-sm")
					span.label Username
					input(type="text", class="form-control", name="username")
				
				div(class="form-group form-group-sm")
					span.label Password
					input(type="password", class="form-control", name="password")

				div(class="form-group form-group-sm")
					input(type="submit", class="btn btn-default", name="login", ng-click="submitForm()")
