html
	head
		title= postTitle
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/jquery-ui/jquery-ui.min.js")
		script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")

		link(rel="stylesheet", href="../css/base.css")
		script(src='/bower_components/angular/angular.min.js')
		script(src="../js/angular/app.js")
	
		script(src="/bower_components/jquery-bar-rating/jquery.barrating.js")

		script(src="../js/services/postService.js")
		script(src="../js/controllers/postController.js")
		script.
			var poster = "#{post_id}";
			
			if ("#{user}")
				var userLoggedIn = { "success": true, "user": "#{user}" };
			else
				var userLoggedIn = { "success": false };
	body
				
		div(id="test", ng-app="postApp", ng-controller="postController", ng-init="uLog = userLoggedIn; post_id = poster")
			script.
				uLog = userLoggedIn;
				post_id = poster;

			nav(class="navbar navbar-default")
				div(class="container-fluid")
					ul(class="nav navbar-nav")
						li(class="active") 
							a(href="/home") home
						li(ng-if="userLoggedIn['success']") 
							a(href="/profile") profile
						li 
							a(href="/discover") discover
						li(ng-if="userLoggedIn['success']")
							a(href="/upload") upload
						li(ng-if="!userLoggedIn['success']") 
							a(href="/login") login	
						li(ng-if="!userLoggedIn['success']")
							a(href="/register") register

			div(id="postDiv")
				div(id="title")
					h2(id="title") {{post.title}}
				div(id="user_name")
					h3(id="username") by 
						a(href="/profile/{{post.user}}") {{post.user}}
				div(id="rating")
					h3(id="rating") Rating: {{postCurrentRating}}		
		
				div(id="postImg")
					a(href="{{post.url}}")
						img(class="resize", ng-src="{{post.url}}")
				
				div(id="imgCaption")
					p(id="caption") Caption: {{post.meta.caption}}
				
				div(id="postInfo")
					div(id="exifSpot")
						p(id="exifHighlights")			
	
					div(id="ratingSlot")
						p Your rating: 
						select(id="ratingControl", ng-model="rateOption", ng-change="rateImage(rateOption)", ng-disabled="madeRating")
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
							option(value="5") 5
										
					//EXIF INFO PLACE
