html
	head
		title= title
		
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
		script(src="bower_components/jquery/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

		link(rel="stylesheet", href="../css/base.css")
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js")
		script(src="../js/angular/app.js")
		
	body

	nav(class="navbar navbar-default")
		div(class="container-fluid")
			ul(class="nav navbar-nav")
				li(class="active") 
					a(href="/home") home
				li 
					a(href="/profile") profile
				li 
					a(href="/discover") discover
				li
					a(href="/upload") upload	

	div(id="test")
	
		
			


		form(action="", id="register_form", enctype='multipart/form-data')
			span.label Name
				input(type="text", name="name")

			span.label Username
				input(type="text", name="username")
			
			span.label Password
				input(type="password", name="password")

			span.label Re-enter Password
				input(type="password", name="passwordconf")

			span.label Email
				input(type="email", name="email")

			span.label Re-enter Email
				input(type="email", name="emailconf")

			input(type="submit", id="register", text="Register")

		script.
			$("#register_form").submit(function (e) {
				e.preventDefault();

				var formData = $("#register_form").serialize();
				console.log(formData);				

				$.ajax({
					type: "POST",
					url: "/api/register",
					data: formData,
					success: function(data) {
						console.log(data);
					}
				});
			});
