html
	head
		title= title
		
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/jquery-form-validator/form-validator/jquery.form-validator.js")

		link(rel="stylesheet", href="../css/base.css")
		script(src='bower_components/angular/angular.min.js')
	
		script(src="../js/angular/app.js")
		script(src="../js/services/registerService.js")
		script(src="../js/controllers/registerFormController.js")
		
	body

	
	script.
		if ("#{user}")
			var userLoggedIn = { "success": true, "user": "#{user}" };
		else
			var userLoggedIn = { "success": false };
	
	div(id="registerForm", ng-app="registerApp", ng-controller="formController")

		script.
			uLog = userLoggedIn;

		nav(class="navbar navbar-default")
			div(class="container-fluid")
				ul(class="nav navbar-nav")
					li 
						a(href="/home") home
					li 
						a(href="/discover") discover
					li
						a(href="/login") login	
					li(class="active")
						a(href="/register") register

		div(id="test", class="testForm")
			form(id="register_form")
				div(class="control-group")
					label(class="control-label") Name
					div(class="controls")
						input(type="text", class="input-xlarge", id="name", name="name", data-validation="length", data-validation-length="max50")
						p(class="help-block") Name can contain any any type of character in the UTF-8 set. Up to a maximum of 50 characters.

				div(class="control-group")
					label(class="control-label") Username
					div(class="controls")
						input(type="text", class="input-xlarge", id="username", name="username", data-validation="length", data-validation-length="max20")
						p(class="help-block") Username can also contain any character in the UTF-8 set. A maximum of 20 characters.			
	
				div(class="control-group")
					label(class="control-label" for="password") Password
					div(class="controls")
						input(type="password", class="input-xlarge", id="password_confirmation", name="password_confirmation", data-validation="length", data-validation-length="min5max100")
						p(class="help-block") Enter a password with at least 5 characters. No more than 100 characters long. Special characters are allowed and encouraged.
				
				div(class="control-group")
					label(class="control-label") Confirm Password
					div(class="controls")
						input(type="password", class="input-xlarge", name="password", data-validation="confirmation")

				div(class="control-group")
					label(class="control-label") Email Address
					div(class="controls")
						input(type="email", class="input-xlarge", name="email_confirmation", data-validation="email")
			
				div(class="control-group")
					label(class="control-label") Confirm Email Address
					div(class="controls")
						input(type="email", class="input-xlarge", name="email", data-validation="confirmation")
		
				div(class="control-group")
					label(class="control-label") Age
					div(class="controls")
						input(type="text", class="input-xlarge", name="age", data-validation="number", data-validation-allowing="range[1;100]")

				div(class="control-group")
					div(class="controls")
						button(ng-click="submitForm()", class="btn btn-success")

				div(class="alert alert-success", ng-if="successfulRegistration")
					strong Success!
					p Redirecting to login page. 
		
				div(class="alert alert-danger", ng-if="unsuccessfulRegistration")
					strong Failed
					p {{regMessage}}	

				script.
					$.validate({
						modules: 'security'
					});	
