html
	head
		title= "Upload"
		
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/jquery-form-validator/form-validator/jquery.form-validator.js")

		link(rel="stylesheet", href="../css/base.css")
		script(src='bower_components/angular/angular.min.js')
	
		script(src="../js/angular/app.js")
		script(src="../js/services/uploadService.js")
		script(src="../js/controllers/uploadFormController.js")
		
	body

	script.
		if ("#{user}")
			var userLoggedIn = { "success": true, "user": "#{user}" };
		else
			var userLoggedIn = { "success": false };

	div(ng-app="uploadApp", ng-controller="formController", ng-init="uLog = userLoggedIn")
		script.
			uLog = userLoggedIn;

		nav(class="navbar navbar-default")
			div(class="container-fluid")
				ul(class="nav navbar-nav")
					li
						a(href="/home") home
					li
						a(href="/profile") profile
					li 
						a(href="/discover") discover
					li(class="active")
						a(href="/upload") upload

		div(id="test")
			form(id="upload_form", enctype="multipart/form-data")
				div(class="control-group")
					label(class="control-label") Title
					div(class="controls")
						input(type="text", class="input-xlarge", name="name", data-validation="length", data-validation-length="max50")
	

				div(class="control-group")
					label(class="control-label") Caption 
					div(class="controls")
						input(type="text", class="input-xlarge", name="caption", data-validation="length", data-validation-length="max500")

				div(class="control-group")
					label(class="control-label") Location
					div(class="controls")
						input(type="text", class="input-xlarge", name="location", data-validation="length", data-validation-length="max50")
					label(class="control-label") Image
					div(class="controls")
						input(type="file", name="file", accept="image/*")
	
				div(class="control-group")
					div(class="controls")
						input(text='Upload', id="upload", type="submit", ng-click="submitForm()", class="btn btn-default", ng-disabled="isSubmitting")

				div(class="alert alert-success", ng-if="successfulUpload")
					strong Success!
					p Redirecting to post. 
		
				div(class="alert alert-danger", ng-if="unsuccessfulUpload")
					strong Failed
					p {{regMessage}}	

				script.
					$.validate();	
