img {
	width: 300px;
	height: auto;
}

#captionText {
	overflow:hidden; text-overflow-multiline:ellipsis;height:auto;
}

.line-clamp {
 text-overflow: ellipsis;
 white-space: nowrap;
}

#feedPost {
	width: 60%;
	height: 500px;
	float: left;
}

#feedPostInfo {
	width: 300px
	height: auto;
}	
